---
import AstroIcon from "../components/icons/AstroIcon.astro";
---

<footer
  class="bg-black/20 rounded-lg shadow m-4 p-4 backdrop-blur-lg w-full xl:w-[1120px] mx-auto text-white text-sm text-pruple-200 font-light"
>
  <div
    class="w-full mx-auto max-w-screen-xl flex flex-wrap items-center justify-between md:items-center md:justify-between"
  >
    <span class="mb-2 md:m-0 flex items-center gap-x-2 md:w-fit w-full">
      <AstroIcon class="size-4" /> Developed with Astro
    </span>
    <p>
      © 2024 <a href="https://murga.dev/" class="hover:underline">Murga™</a>.
    </p>

    <ul class="flex flex-wrap items-center sm:mt-0">
      <li>
        <a href="#top" class="hover:underline me-4 md:me-6">About</a>
      </li>
      <li>
        <a href="mailto:murgapja@gmail.com" class="hover:underline">Contact</a>
      </li>
    </ul>
  </div>
</footer>
